@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('http://fonts.googleapis.com/css?family=Raleway:200,400,800');


body {
	perspective: 100px;
	//background-image: url(../img/uploads-141223808515744db9995-3361b5e1.jpg);
  	//background-size: cover;
  	//background-position: center center;
	color: rgba(249,241,233,1);
	height: 100vh;
	font-family: $source-sans;
	text-transform: uppercase;
	overflow: hidden;
}

// Underline selected month
.month-selected {
	font-weight: 900;
	border-bottom: 3px solid rgba(249,241,233,1);
	padding-bottom: 4px;
}

// Set previous and next month's colors to be a different color
.non-cur-month {
	color: $mid-grey;
}

// Display calendar
.display-cal {
	display: block!important;
}

// Hide title
.hide-title {
	display: none;
}

canvas {
	z-index: -9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}